@import '../../../../../assets/styles/global/mixins';

.container {
  height: 90vh;
  overflow: hidden;

  .close {
    cursor: pointer;
    text-align: right;
  }

  .info {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .headings {
      font-family: 'Gilroy-400';
      word-wrap: break-word;
      color: var(--color-tooltip-text);
      margin: 0;
    }
  }

  .buttons {
    width: 100%;
    margin-top: 40px;
    .close-btn {
      margin-top: 28px;
    }
  }
}
