<div class="confirmation-container">
  <div class="title">
    <h1>Confirmation</h1>
    <img src="assets/imgs/Confetti-ball.png" alt="Confetti-ball-img" loading='lazy'/>
  </div>

  <div class="chech-mark-container ">
    <img src="assets/imgs/Check-mark-button-effects.png" alt="Check-mark-button-effects-img"  class="desktop" loading='lazy'/>
    <img src="assets/imgs/Party-popper-big.png" alt="Party-popper-img" class="mobile" loading='lazy'/>
    <p>You successfully bought sugar</p>
  </div>

  <div class="continue-btn">
    <button class="button primary" routerLink="/confectionery">Okay</button>
  </div>
</div>
